* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.header {
	padding: 22px 0;
	background-color: #3a3f43;
	margin-bottom: 14px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
	border-bottom: 1px solid #181f25;
}

.logo {
	text-align: center;
	border-radius: 3px;
	background-color: #515558;
	width: 250px;
	padding: 5px 0;
	margin: 0 auto;
}

.logo h1 {
	color: #fff;
	font-weight: normal;
	font-family: "Alfa Slab One", Arial, sans-serif;
	margin-bottom: 0;
}





.portfolio {
	margin-top: 20px;
}

.portfolio .four.columns {
	width: 240px;
	margin-right: 0;
	margin-left: 0;
	/* Not included in book: */
	margin-top: 0;
	margin-bottom: 0;	
}

.portfolio > figure {
	position: relative;
	overflow: hidden; /* To cut last image too big at the right, and below over the figcaption */
}

.portfolio > figure img {
	max-width: 100%;
	display: block; /* To remove white line below the image */
	/* Also supposed to work: vertical-align: top; */
}

.portfolio figcaption {
	position: absolute; /* To detach the caption from its surroundings */
	
	width: 100%; /* Follow figure parent */
	height: 100%;
	
	left:0;	/* Parent figure has position: relative, this coords. are absolute to parent */
	top:0;
	
	background-color: rgba(58,63,67,0.8);
	
	padding: 10%;
	
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	
	-webkit-transition: all 350ms;
	-moz-transition: all 350ms;
	-o-transition: all 350ms;
	transition: all 350ms;
}

.container figure:hover figcaption {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);	
}

.portfolio figcaption h4 {
	color: #fff;
}

.portfolio figcaption p {
	color: #fff;
	font.size: 0.87em;
}




.nav-menu {
	display: none !important;
}

.nav-menu:checked  + label {
	color: #fff;
	background-color: #3a3f43;
	border-radius: 3px;
}

.nav-menu,
.portfolio > figure.columns {
	display: none; 
}

#all:checked  ~ .portfolio .all,
#illustrations:checked  ~ .portfolio .illustration,
#posters:checked  ~ .portfolio .poster,
#typography:checked  ~ .portfolio .typography,
#packaging:checked  ~ .portfolio .package { 
	display: block; 
}

label {
	padding: 5px 10px;
	color: #3a3f43;
	cursor: pointer;
	display: inline-block;	/* Labels displayed beside each other */
}




.footer {
	border-top: 1px solid #ccc;
	margin-top: 28px;
	padding: 28px 0;
}

.social {
	float: left;
}

.social .copyright {
	color: #ccc;
	margin-bottom: 10px;
	font-size: 1em;
}

.social ul li {
	display: inline;
}

.social ul li a {
	display: inline-block; /* In order to be able to set width and height */
	width: 48px;
	height: 48px;
	
	/* image replacement styles, to hide the text inside and replace it with a background image */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.social-twitter a,
.social-facebook a {
	background-image: url('../images/icons.png');
	background-repeat: no-repeat;
}

.social-twitter a:hover  { background-position: -144px 0; }
.social-twitter  a            { background-position: 0 0; }
.social-facebook a:hover { background-position: -192px 0; }
.social-facebook  a     { background-position: -48px 0; }


.contact {
	float: right;
}

.contact, .contact a { 
	color: #ccc;
}

.contact ul li {list-style-type: none;}

.contact ul li:before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 28px;
	background-image: url('../images/contact.png');
	margin-right: 0.6em;
}

.contact-name:before {
    background-position: -41px -2px;
}

.contact-email:before {
    background-position: -5px 2px;
}